<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>

<div class="container">
    <div class="row">
        <div class="four columns box small--bgr">
            <form action="/buy" method="POST" class="small">
                <h2>Shopping Cart</h2>
                    <label>Small</label>
                    <input type="text" name="small"/>
                    <label>Medium</label>
                    <input type="text" name="medium"/>
                    <label>Large</label>
                    <input type="text" name="large"/>

                <button class="button" type="submit" name="buy">ORDER</button>
            </form>
        </div>
    </div>
</div>    

</body>
</html>